@import "./style.css";
@import "./main-colors.css";
@import "./components/header.css";
@import "./components/footer.css";

:root {
  --a-style-title-color: var(--bombay);
  --a-style-text-color: var(--alto);
}

.a-style {
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
  text-align: center;
  background: url("./../img/bg-section.jpg") no-repeat;
  background-size: cover;
  font-size: 1rem;
}

.a-style:before {
  background: black;
  opacity: 0.7;
}

.a-style:after {
  background: url("./../img/pattern.png");
  opacity: 0.2;
}

.a-style:before, .a-style:after {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  content: "";
}

.a-style__title {
  position: relative;
  margin: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  color: var(--a-style-title-color);
  font-size: 2em;
  z-index: 1;
}

.a-style__text {
  margin: 0;
  padding: 5em 1em;
  position: relative;
  color: var(--a-style-text-color);
  line-height: 2;
  letter-spacing: 0.01em;
  word-spacing: 0.15em;
  font-size: 1.7em;
  z-index: 1;
}

.a-style__gallery {
  position: relative;
  padding-top: 2em;
  opacity: 0.95;
  z-index: 1;
}

.a-style__picture {
  transition: 0.25s linear;
}

.a-style__picture:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 780px) {
  .a-style {
    padding-top: 5em;
  }

  .a-style__text {
    padding: 3em 1em;
    line-height: 1.5;
    letter-spacing: 0;
    word-spacing: 0.1em;
    font-size: 1.2em;
  }

  .a-style__picture {
    width: 60%;
  }
}