:root {
    --alto: #D8D8D8;
    --bombay: #ababac;
    --jumbo: #707071;
    --tundora: #444445;
    --chambray: #3b5999;
    --wedgewood: #4c75a3;
    --thunderbird: #cd201f;
    --red: #ff1013;
    --green: #07cb02;
    --electric-violet: #6045ff;
}