@import "./main-colors.css";
@import "./components/header.css";
@import "./components/footer.css";
@import "./components/slider.css";
@import "./components/video-block.css";
@import "./components/news-block.css";
@import "./components/block-cards.css";

:root {
  --title-color: var(--bombay);
}

body {
  margin: 0;
  padding: 0;
  background: url("./../img/bg-site.jpg");
  font-size: 1rem;
  font-family: Calibri, sans-serif;
}

.title {
  margin: 0;
  padding-bottom: 0.5em;
  position: relative;
  text-align: center;
  color: var(--title-color);
  word-spacing: 0.5em;
  letter-spacing: 0.05em;
  font-size: 2.5em;
  font-family: Candara, sans-serif;
  z-index: 1;
  animation: move 4s ease-out;
}

@keyframes move {
  0% {
    transform: scale(0);
    word-spacing: 0;
    letter-spacing: 0;
  }
  75% {
    transform: scale(1);
    word-spacing: 0;
    letter-spacing: 0;
  }
  100% {
    transform: scale(1);
    word-spacing: 0.5em;
    letter-spacing: 0.05em;
  }
}

.main {
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  max-width: 1200px;
  height: auto;
  text-align: center;
  background: url("./../img/bg-section.jpg") no-repeat;
  background-size: cover;
}

.main:before {
  background: black;
  opacity: 0.7;
}

.main:after {
  background: url("./../img/pattern.png");
  opacity: 0.2;
}

.main:before, .main:after {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  content: "";
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 2em;
  }
}

@media screen and (max-width: 780px) {
  .slider {
    padding-top: 4em;
  }

  .title {
    display: none;
  }
}