@import "./../../pages/css/style.css";
@import "./../../components/css/header.css";
@import "./../../components/css/footer.css";

:root {
  --a-style-title-color: var(--bombay);
  --a-style-text-color: var(--alto);
}

.d-style {
  position: relative;
  text-align: center;
  background: url("./../../img/bg-section.jpg") no-repeat;
  background-size: cover;
  font-size: 1rem;
}

.d-style:before {
  background: black;
  opacity: 0.7;
}

.d-style:after {
  background: url("./../../img/pattern.png");
  opacity: 0.2;
}

.d-style:before, .d-style:after {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  content: "";
}

.d-style__title {
  position: relative;
  margin: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  color: var(--a-style-title-color);
  font-size: 2em;
  z-index: 1;
}

.d-style__text {
  margin: 0;
  padding: 5em 1em;
  position: relative;
  color: var(--a-style-text-color);
  line-height: 2;
  letter-spacing: 0.01em;
  word-spacing: 0.15em;
  font-size: 1.7em;
  z-index: 1;
}

.d-style__gallery {
  position: relative;
  padding-top: 2em;
  opacity: 0.95;
  z-index: 1;
}

.d-style__picture {
  transition: 0.25s linear;
}

.d-style__picture:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 780px) {

  .d-style {
    padding-top: 5em;
  }
}