@import "./../../pages/css/style.css";

.slider {
  width: 100%;
  margin: 0 auto;
  background: black;
  position: relative;
  overflow: hidden;
}

.slider__img {
  width: 100%;
  animation: slider ease 2.5s;
}

@keyframes slider {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}