@import "./../style.css";
@import "./../main-colors.css";

:root {
  --video-block-header-color: var(--alto);
  --youtube-icon-color: var(--thunderbird);
  --video-block-bg-color: var(--alto);
}

.video-block {
  width: 30em;
  text-align: center;
  font-size: 1rem;
  font-family: Calibri, sans-serif;
  z-index: 1;
}

.video-block__header {
  margin: 0;
  padding-top: 4em;
}

.video-block__header, .video-block__sub-header {
  color: var(--video-block-header-color);
}

.video-block__header i {
  padding-right: 0.5em;
  width: 1em;
  vertical-align: -0.2em;
  line-height: 1em;
  font-size: 1.5em;
  color: var(--youtube-icon-color);
  transition: 0.2s linear;
  opacity: 0.3;
}

.video-block__sub-header {
  padding-top: 3em;
}

.video-block__header i:hover {
  opacity: 1;
}

@media screen and (max-width: 780px){
  .video-block__header i {
    padding-right: 0.2em;
    opacity: 1;
  }
}