<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./../../components/css/block-cards.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <section class="block-cards">
      <div class="card-new">
        <span class="card-new__ribbon">New in<br>standard<br>series</span>
        <img src="./../../img/card-new/standard-new.jpg" title="Standard series" alt="Standard series">
        <a class="card-new__button" href="#">Read more<i class="fas fa-angle-double-right"></i></a>
      </div>
      <div class="card-new">
        <span class="card-new__ribbon">New in<br>vintage<br>series</span>
        <img src="./../../img/card-new/vintage-new.jpg" title="Vintage series" alt="Vintage series">
        <a class="card-new__button" href="#">Read more<i class="fas fa-angle-double-right"></i></a>
      </div>
      <div class="card-new">
        <span class="card-new__ribbon">New in<br>D-style<br>series</span>
        <img src="./../../img/card-new/d-style-new.jpg" title="D-style series" alt="D-style series">
        <a class="card-new__button" href="#">Read more<i class="fas fa-angle-double-right"></i></a>
      </div>
    </section>
  </body>
</html>