<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./../css/feature-card.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <div class="feature-card">
      <h3 class="feature-card__header">Standard series</h3>
      <img src="./../../img/feature-card/a-style-12-strings.jpg" title="Standard series" alt="Standard series">
      <a class="feature-card__button" href="#">Read more<i class="fas fa-angle-double-right"></i></a>
    </div>
  </body>
</html>