<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="./../css/header.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <header class="main-header">
      <a class="main-header__logo-link" href="#"><img src="./../../img/logo-kibin.png" alt="logo-kibin-guitars"
                                                      title="Welcom to Kibin guitars!"></a>
      <p class="main-header__text-logo">
        Custom made acoustic guitars
      </p>
      <nav class="navigation" id="mobile">
        <a class="navigation__button-mobile-menu" role="button" href="#"><i class="fas fa-bars"></i>Menu</a>
        <ul class="navigation__main-list" id="menu">
          <li><a class="navigation__menu-button" href="#">Home</a></li>
          <li><a class="navigation__button-drop" role="button" href="#">Guitars<i class="fas fa-angle-down"></i></a>
            <ul class="navigation__drop-list">
              <li><a class="navigation__sub-menu-button" href="#">Acoustic</a></li>
              <li><a class="navigation__sub-menu-button" href="#">Classic</a></li>
            </ul>
          </li>
          <li><a class="navigation__menu-button" href="#">Workshop</a></li>
          <li><a class="navigation__menu-button" href="#">Artists</a></li>
          <li><a class="navigation__menu-button" href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <script type="text/javascript" src="./../js/drop-menu-mobile.js"></script>
    <script type="text/javascript" src="./../js/drop-menu.js"></script>
  </body>
</html>