<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./../css/menu.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navigation">
      <ul class="navigation__main-list">
        <li><a class="navigation__menu-button" href="#">Home</a></li>
        <li><a class="navigation__menu-button" href="#">Guitars<i class="fas fa-angle-down"></i></a>
          <ul class="navigation__drop-list">
            <li><a class="navigation__sub-menu-button" href="#">Acoustic</a></li>
            <li><a class="navigation__sub-menu-button" href="#">Classic</a></li>
          </ul>
        </li>
        <li><a class="navigation__menu-button" href="#">Workshop</a></li>
        <li><a class="navigation__menu-button" href="#">Artists</a></li>
        <li><a class="navigation__menu-button" href="#">Contact</a></li>
      </ul>
    </nav>
  </body>
</html>