<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./../css/news-block.css">
  </head>
  <body>
    <div class="news-block">
      <h2 class="news-block__header">Visiting Kibin Guitars</h2>
      <img src="./../../img/news.jpg" alt="">
      <h2 class="news-block__header">How Belarusian acoustic guitars are made</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/bybHRvhs_Yc" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </body>
</html>