<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./../css/video-block.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <div class="video-block">
      <h2 class="video-block__header"><a class="video-block__link"
                                         href="https://www.youtube.com/channel/UCu4EcnQ_AbBVIf9OwMyxmxA"
                                         title="Youtube channel"><i class="fab fa-youtube-square"></i></a>Visit our
        youtube channel</h2>
      <h3>Tommy Emmanuel trying out a Kibin guitar</h3>
      <iframe width="80%" height="300" src="https://www.youtube.com/embed/iWANCyRpxCo" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Adam Rafferty</h3>
      <iframe width="80%" height="300" src="https://www.youtube.com/embed/UgvoWhBZd1A" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </body>
</html>